# Visual Studio
.vs/
.vscode/
bin/
obj/
*.user
*.suo
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Local environment
.env
local.settings.json
db.json

# OS
.DS_Store
Thumbs.db
